html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 30rem;
    margin: 2rem auto;
}

.task-container {
    height: 2.5rem;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b2e1ff+0,ceecff+2,b8dbf9+100 */
    background: #b2e1ff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b2e1ff 0%, #ceecff 2%, #b8dbf9 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b2e1ff 0%, #ceecff 2%, #b8dbf9 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b2e1ff 0%, #ceecff 2%, #b8dbf9 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2e1ff', endColorstr='#b8dbf9', GradientType=0);
    /* IE6-9 */

    border-top: 1px solid #555533;
    border-left: 1px solid #555533;
    border-right: 1px solid #555533;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 1rem 0 1rem;
    position: relative;
}

.task-update-field {
    height: 1.8rem;
    //display: none;
}

.task-update-field__container {
    position: absolute;
    top: 0.2rem;
    left: 1rem;
    width: 26rem;
    display: none;
    justify-content: space-between;
     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b2e1ff+0,ceecff+2,b8dbf9+100 */
     background: #b2e1ff;
     /* Old browsers */
     background: -moz-linear-gradient(top, #b2e1ff 0%, #ceecff 2%, #b8dbf9 100%);
     /* FF3.6-15 */
     background: -webkit-linear-gradient(top, #b2e1ff 0%, #ceecff 2%, #b8dbf9 100%);
     /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, #b2e1ff 0%, #ceecff 2%, #b8dbf9 100%);
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2e1ff', endColorstr='#b8dbf9', GradientType=0);
     /* IE6-9 */
 
}




.task-container:last-child {
    border-bottom: 1px solid #555533;
}

.task {
    flex-basis: 90%;
} 

.task-button {
    width: 2rem;
    height: 2rem;
    border: 1px solid blue;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    margin: 0 0.3rem;
}

.task-create-container {
justify-self: stretch;
}

.create-task {
    width: 30rem;
    display: flex;
    justify-content: space-between;
}

.taskText {
   font-size: 1rem; 
}